body{
    background-color:black;
    text-align: center;
    color: white;
    text-rendering: auto;
    margin: 120px;
    
 

}
h1{
    font-size: 270%;
    
    
}

    
    


    





    

    


    


    
    
     
